
/*reseteo de estilos nativos*/

*{
    margin:auto;
    padding:auto;

}
/*estils de body*/
body{
    font-family:arial;
    background-color: #7fffd4;
}

.flex-container{
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    width:600px;
    height:400px;
    background-color:white;
    border:black solid 3px;
}

.flex-item{
    width:100px;
    height:100px;
    background-color:lightcoral;
    border:black dotted 2px;

}
